*{ padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(238, 63, 63);
}
.container {
    background-color: rgb(249, 249, 249);
    font-size: 16px;
    padding: 3em 2.8em;
    width: 90vm;
    max-width: 32em;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 1em;
    border-radius: 5px;
    box-shadow: 0 1.2em 2.5em rgba(61, 61, 61, 0.476);

}

.search {
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap :1.2em;
}
#inp{
    font-size: 1em;

    padding: 0.6em;
    border:none;
    outline: none;
    border-bottom: 2px solid rgb(238, 63, 63);
}
#btn{
    font-size: 15px;
    background-color: rgb(238, 63, 63);
    border: none;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;

}
